.cal {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e8ddc4da-23dd-4502-b65b-378c9cfe5efa/dfgy2mf-f3a87efe-f865-4876-be87-75b68e2bd237.png/v1/fit/w_414,h_414/phantom_troupe_spider_0_icon_by_jormxdos_dfgy2mf-414w.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiIvZi9lOGRkYzRkYS0yM2RkLTQ1MDItYjY1Yi0zNzhjOWNmZTVlZmEvZGZneTJtZi1mM2E4N2VmZS1mODY1LTQ4NzYtYmU4Ny03NWI2OGUyYmQyMzcucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.D1EffaABZe7ga0u_SIxT7SgnDR1G8xO3yrvWx8eXtrc);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.grid-container {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: center;
    margin: 44px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.grid-container  > div {
    
    padding: 10px;
    text-align: center;
}

.Month {
    color: white;
    grid-column: 1 / span 7;
    font-weight: bold;
}

.week-ends {
    
    color: red;
}

.Holidays a {
    color: blue;
    font-weight: bold;
}
.Holidays {
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.Holidays:hover {
    transform: scale(1.3);
}

.holiday-popup {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  border: 2px solid red;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 1000;
  text-align: center;
  visibility: hidden;
}


.Holidays:hover .holiday-popup {
  opacity: 1;
  visibility: visible;
}




.calendar-table {
table-layout: fixed;
background-position: flex;
background-repeat: no-repeat;
background-size: 100% 100%;
}

div {
    color: white;
    text-shadow:
2px 2px 0 #000;
}

